/* Fonts and content */

body {
  margin: 0;
  box-sizing: border-box;
}

.hamburg-menu {
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  }
  

.team-member {
  min-width: 350px;
  border: solid #000000;
  margin: 1rem;
  }
  

h3 {
  font-size: 1rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
  margin: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7rem;
  margin: 0;
}
  
.button {
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #E02020;
  border-radius: 10px;
  padding: .5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: auto;
  height: 100%;
}
  

/* Enter grid info here */
